.layout {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include background-gradient-color;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: $purple;

  @include media("<=phone") {
    width: 100%;
  }

  @include media(">phone") {
    width: 80%;
  }
}
