// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  display: flex;
  position: relative;
  justify-content: center;

  background-color: black;
  color: white;

  bottom: 0px;
  padding: .5rem;

}
