// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: black;
  position: relative;
  bottom: 0px;

  display: flex;
  justify-content: center;
}
