// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import "../vendors/include-media";

.header {
  font-family: $title-font;
  font-size: 2rem;

  background-color: $gradient-end;

  position: sticky;
  padding: 10px 20px 10px 20px;

  top: 0px;
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 1px solid white;
}

.nav {
  display: flex;
  background-color: $gradient-end;
}

.nav-logo {
  position: absolute;
  left: 10px;

  @include media("<=phone") {
    &-desktop {
      display: none;
    }
  }
}

.nav-item {
  display: flex;
  margin: 0px 15px;

  @include media("<=phone") {
    &-desktop {
      display: none;
    }
  }
  @include media(">phone") {
    &-phone {
      display: none;
    }
  }
}
