.title {
  display: flex;
  justify-content: center;
  font-family: $title-font;

  color: $purple;
}

.subtitle {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

.description {
  display: flex;
  justify-content: center;
}

.most-recent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    display: flex;
    justify-content: center;
    font-family: $title-font;
    color: $purple;
  }

  &-item {
    text-align: left;
  }
}

.posts-section-title {
  display: flex;
  justify-content: center;

  font-size: 2em;
  font-family: $title-font;
  color: $purple;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-title {
  font-size: 1.5rem;
  font-family: $title-font;
}
.post-sub-title {
  font-size: 1.2rem;
}
