.title {
  display: flex;
  justify-content: center;
  font-family: $title-font;
}

.subtitle {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: center;
}

.most-recent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    display: flex;
    justify-content: center;
    font-family: $title-font;
  }

  &-item {
    text-align: left;
  }
}

.post-entry {
  margin: 2rem;
}

.post-title {
  font-size: 2.2rem;
  font-family: $title-font;
}
.post-sub-title {
  font-size: 1.2rem;
}
