// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 88vh;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  @include media("<=phone") {
    flex-direction: column;
  }
}

.headshot {
  width: 20rem;
  height: 20rem;
  margin: 10px;
  border-radius: 50%;
}

.biography {
  display: flex;
  margin: 10px;
  font-size: 1.3rem
}
