.blogpost {
  &-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  &-title {
    display: flex;
    justify-content: center;
    font-family: $title-font;
    color: $brand-color;
  }

  &-subtitle {
    display: flex;
    justify-content: center;
  }

  &-cover-image {
    display: flex;
    justify-content: center;
  }

  &-markdown {
    margin: 2rem;
    text-align: left;
  }
}
